<header>
    {% extends 'base.html' %} {% block content %}
</header>

<div class="row">
    <br> <br>
    <div class="col s6">
        <div class="card">
            <span class="card-title">
                <br>
                <h1> The {{ cshow.name }} </h1>
                <br>
            </span>
            <div class="card-content">
                <div class="dcategory">Category:
                    <h3> {{ cshow.category }} </h3>
                </div>
                <div class="dspecies">Species:
                    <h3> {{ cshow.species }} </h3>
                </div>
                <div class="dcstatus">Conservation Status:
                    <h3> {{ cshow.cstatus }} </h3>
                </div>
                <div class="dfamily">Family:
                    <h3> {{ cshow.family }} </h3>
                </div>
                <img class="dbanner" src="{{ cshow.banner.url }}"
                alt="image not found" />
                <div class="dfound">Found:
                    <h3> {{ cshow.found }} </h3>
                </div>
                <div class="dsize">Size:
                    <h3> {{ cshow.size }} </h3>
                </div>
                <div class="ddiet">Diet:
                    <h3> {{ cshow.diet }} </h3>
                </div>
                <div class="ddescription">
                    <p> Description:
                        {{ cshow.description }} </p>
                </div>
            </div>
            <div class="card-action">
                <br>
                <a href="{% url 'update' cshow.id %}">Edit</a>
                <a href="{% url 'delete' cshow.id %}">Delete</a>
            </div>
        </div>
    </div>
    <br>

    {% endblock %}