{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creature Teacher</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>

<header class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <ul class="right">
                <pre><a href="{% url 'home' %}">Home</a>    <a href="{% url 'index' %}">Creature Index</a>    <a href="{% url 'create' %}">Add a Creature</a> </pre>
            </ul>
        </div>
    </nav>
</header>
<main class="container">{% block content %} {% endblock %}</main>
<footer class="page-footer">
    <div class="copyright">
        All Rights Reserved, &copy; 2024 ME MINE &nbsp;
    </div>
</footer>

</html>