{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creature Teacher</title>
</head>
<link rel="stylesheet" type="text/css" href="static/styles.css" />

<body>

</body>
<header class="navbar-fixed"></header>
<nav>
    <div class="nav-wrapper">
        <ul class="right">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'index' %}">Creature Index</a>
            <a href="{% url 'create' %}">Add a Creature</a>
        </ul>
    </div>
</nav>
</header>
<main class="container">{% block content %} {% endblock %}</main>
<footer class="page-footer">
    <div class="right">
        All Rights Reserved, &copy; 2024 ME &nbsp;
    </div>
</footer>

</html>