<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creature Teacher</title>
</head>
<header>
    {% extends 'base.html' %} {% block content %}
</header>
<body>
    <br> <br>
    <h1> Creature Teacher Home </h1>
    <br>
    <h3>Your number one library of all the animals on earth, that you can add to yourself!</h3>
    <h4>Better than National Geographic, although, what isn't.</h4>
    <br>
    <div class="stupid">
        <img class="homeimages" src="../../media/siau_island_tarsier.jpg" alt="image not found" />
        <img class="homeimages" src="../../media/solomon_islands_skink.jpg" alt="image not found" />
        <img class="homeimages" src="../../media/common_cuttlefish.jpg" alt="image not found" />
    </div>
    <br>
    <p>All images courtesy of myself or Wikipedia</p>
    <p>Except the Trogdor fallback image which I found on the uhh, Amtrak Unlimited forum from a post made in 2004</p>
</body>
{% endblock %}
</html>